.dark-mode {
  background-color: #2d2d2d;
  color: #f5f5f5;
}
.dark-mode .box {
  background-color: #3d3d3d;
  color: #f5f5f5;
}
.dark-mode .table {
  background-color: #3d3d3d;
  color: #f5f5f5;
}
.dark-mode .dataTables_wrapper {
  background-color: #3d3d3d;
  color: #f5f5f5;
}
.sidebar-status {
  padding: 10px;
  color: white;
  margin-top: 20px;
}
